<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>SvTeste</display-name>
    <servlet-name>SvTeste</servlet-name>
    <servlet-class>control.SvTeste</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SvTeste</servlet-name>
    <url-pattern>/SvTeste</url-pattern>
  </servlet-mapping>
  <display-name>Projeto-EsporteAula</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SvCadastrarCliente</display-name>
    <servlet-name>SvCadastrarCliente</servlet-name>
    <servlet-class>control.SvCadastrarCliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SvCadastrarCliente</servlet-name>
    <url-pattern>/SvCadastrarCliente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SvCadastrarProfessor</display-name>
    <servlet-name>SvCadastrarProfessor</servlet-name>
    <servlet-class>control.SvCadastrarProfessor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SvCadastrarProfessor</servlet-name>
    <url-pattern>/SvCadastrarProfessor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SvCadastrarAula</display-name>
    <servlet-name>SvCadastrarAula</servlet-name>
    <servlet-class>control.SvCadastrarAula</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SvCadastrarAula</servlet-name>
    <url-pattern>/SvCadastrarAula</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SvListaDeAulaCliente</display-name>
    <servlet-name>SvListaDeAulaCliente</servlet-name>
    <servlet-class>control.SvListaDeAulaCliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SvListaDeAulaCliente</servlet-name>
    <url-pattern>/SvListaDeAulaCliente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SvListaDeCliente</display-name>
    <servlet-name>SvListaDeCliente</servlet-name>
    <servlet-class>control.SvListaDeCliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SvListaDeCliente</servlet-name>
    <url-pattern>/SvListaDeCliente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SvListaDeProfessor</display-name>
    <servlet-name>SvListaDeProfessor</servlet-name>
    <servlet-class>control.SvListaDeProfessor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SvListaDeProfessor</servlet-name>
    <url-pattern>/SvListaDeProfessor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SvListaDeAula</display-name>
    <servlet-name>SvListaDeAula</servlet-name>
    <servlet-class>control.SvListaDeAula</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SvListaDeAula</servlet-name>
    <url-pattern>/SvListaDeAula</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SvLogin</display-name>
    <servlet-name>SvLogin</servlet-name>
    <servlet-class>control.SvLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SvLogin</servlet-name>
    <url-pattern>/SvLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SvCadastrarAulaListaDeProfessor</display-name>
    <servlet-name>SvCadastrarAulaListaDeProfessor</servlet-name>
    <servlet-class>control.SvCadastrarAulaListaDeProfessor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SvCadastrarAulaListaDeProfessor</servlet-name>
    <url-pattern>/SvCadastrarAulaListaDeProfessor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SvExcluirAula</display-name>
    <servlet-name>SvExcluirAula</servlet-name>
    <servlet-class>control.SvExcluirAula</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SvExcluirAula</servlet-name>
    <url-pattern>/SvExcluirAula</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SvExcluirCliente</display-name>
    <servlet-name>SvExcluirCliente</servlet-name>
    <servlet-class>control.SvExcluirCliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SvExcluirCliente</servlet-name>
    <url-pattern>/SvExcluirCliente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SvExcluirProfessor</display-name>
    <servlet-name>SvExcluirProfessor</servlet-name>
    <servlet-class>control.SvExcluirProfessor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SvExcluirProfessor</servlet-name>
    <url-pattern>/SvExcluirProfessor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SvMenuEditarCliente</display-name>
    <servlet-name>SvMenuEditarCliente</servlet-name>
    <servlet-class>control.SvMenuEditarCliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SvMenuEditarCliente</servlet-name>
    <url-pattern>/SvMenuEditarCliente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SvEditarCliente</display-name>
    <servlet-name>SvEditarCliente</servlet-name>
    <servlet-class>control.SvEditarCliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SvEditarCliente</servlet-name>
    <url-pattern>/SvEditarCliente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SvMenuEditarProfessor</display-name>
    <servlet-name>SvMenuEditarProfessor</servlet-name>
    <servlet-class>control.SvMenuEditarProfessor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SvMenuEditarProfessor</servlet-name>
    <url-pattern>/SvMenuEditarProfessor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SvEditarProfessor</display-name>
    <servlet-name>SvEditarProfessor</servlet-name>
    <servlet-class>control.SvEditarProfessor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SvEditarProfessor</servlet-name>
    <url-pattern>/SvEditarProfessor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SvMenuEditarAula</display-name>
    <servlet-name>SvMenuEditarAula</servlet-name>
    <servlet-class>control.SvMenuEditarAula</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SvMenuEditarAula</servlet-name>
    <url-pattern>/SvMenuEditarAula</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SvEditarAula</display-name>
    <servlet-name>SvEditarAula</servlet-name>
    <servlet-class>control.SvEditarAula</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SvEditarAula</servlet-name>
    <url-pattern>/SvEditarAula</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SvMenuClienteLista</display-name>
    <servlet-name>SvMenuClienteLista</servlet-name>
    <servlet-class>control.SvMenuClienteLista</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SvMenuClienteLista</servlet-name>
    <url-pattern>/SvMenuClienteLista</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SvMenuProfessorLista</display-name>
    <servlet-name>SvMenuProfessorLista</servlet-name>
    <servlet-class>control.SvMenuProfessorLista</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SvMenuProfessorLista</servlet-name>
    <url-pattern>/SvMenuProfessorLista</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SvMenuClienteListaExcluir</display-name>
    <servlet-name>SvMenuClienteListaExcluir</servlet-name>
    <servlet-class>control.SvMenuClienteListaExcluir</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SvMenuClienteListaExcluir</servlet-name>
    <url-pattern>/SvMenuClienteListaExcluir</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SvMenuProfessorListaExcluir</display-name>
    <servlet-name>SvMenuProfessorListaExcluir</servlet-name>
    <servlet-class>control.SvMenuProfessorListaExcluir</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SvMenuProfessorListaExcluir</servlet-name>
    <url-pattern>/SvMenuProfessorListaExcluir</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SvCalendario</display-name>
    <servlet-name>SvCalendario</servlet-name>
    <servlet-class>control.SvCalendario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SvCalendario</servlet-name>
    <url-pattern>/SvCalendario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SvCalendarioCliente</display-name>
    <servlet-name>SvCalendarioCliente</servlet-name>
    <servlet-class>control.SvCalendarioCliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SvCalendarioCliente</servlet-name>
    <url-pattern>/SvCalendarioCliente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SvCalendarioProfessor</display-name>
    <servlet-name>SvCalendarioProfessor</servlet-name>
    <servlet-class>control.SvCalendarioProfessor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SvCalendarioProfessor</servlet-name>
    <url-pattern>/SvCalendarioProfessor</url-pattern>
  </servlet-mapping>
</web-app>